body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #FFE4C4;
    margin: 
}
.kotak{
    style: border;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    width: 550px;
    height: 650px;
    border: 0px solid;
    margin: 30px auto;
}
.button{
    padding: 10px 100px;
    background-color: #008080;
    color: #ffffff;
}