/*
	--black: #3b3b3b;
	--grey: #dcdcdc;
	--white: #e6e6fa;
    --blue navbar: #48d1cc;
    --blue: #008080;
*/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e6e6fa;
    margin: 0;
}

/* Navbar */
.nav{
    width: 100%;
    background: #3b3b3b;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;    
}
.nav ul{
    list-style: none;
    width: 75%;
    height: 50px;
    margin: 0 auto;
}
.nav ul li a{
    width: 20%;
    float: left;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #ffffff;
    font-size: 14px;
}
.nav ul li a:hover{
    background: #48d1cc;
    color: #3b3b3b;
}
.nav ul li a.active{
    background: #48d1cc;
    color: #3b3b3b;
}

/* column */

.left{
    width: 50%;
    height: 250px;
    background-color: #dcdcdc;
    float: left;
}
.left .logo{
    padding: 80px 200px;
}
.right{
    width: 50%;
    height: 250px;
    background-color: #008080;
    float: right;
}
.right .text{
    text-align: justify;
    padding: 30px 45px 5px;
    color: #ffffff;
}

/* Tabel Assistant */
.tabelasisten th, td{
    padding: 15px;
}

button{
    padding: 10px 100px;
    background-color: #008080;
    color: #ffffff;
}

